html,
body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

#viewport-wrap {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
}

#viewport {
    position: relative;
    box-shadow: 0 0 0 1px #000;
}

#canvas {
    display: block;
}

#density {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.legend {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    background-color: white;
    font-family: monospace, sans-serif;
    font-size: 13px;
    border: 2px solid black;
    border-width: 0 0 2px 2px;
}

.legend__header {
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 0 45px;
    min-height: 30px;
}

.legend__item {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.legend__color {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.legend__line {
    line-height: 24px;
    font-size: 12px;
}

.legend__gradient {
    height: 30px;
    width: 100%;
}
